<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wikipedia about actor</title>
</head>
<body>
<form action="/wiki/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="search">
</form>

<div>
    <ul>
        {% for result in results %}
            <li>
                <p>
                    <a href="https://ru.wikipedia.org/wiki/{{ result }}/"><p>{{ result }}</p></a>
                </p>
            </li>
        {% endfor %}
    </ul>

</div>
</body>
</html>