{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <body>
    <h3 align="right">
        <form action="/admin/">
                <input type="submit" value="I am ADMIN">
        </form>
        <form action="/users/login/">
                <input type="submit" value="LOGIN">
        </form>
        <form action="/users/register/">
                <input type="submit" value="REGISTER">
        </form>
        <form action="/wiki/">
                <input type="submit" value="Wikipedia">
        </form>
    </h3>
    </body>
</head>

<head>
    <meta charset="UTF-8">
    <title>Serials</title>
    <body>
    <h3 align="center">
        <form action="/add-serial/">

                <input type="submit" value="ADD NEW SERIAL">
        </form>
    </h3>
    </body>

</head>
<body>
    <div>
        <ul>
        <h1 align="center">ALL SERIALS:</h1><br>
            {% for serial in object_list %}
                <a href="/detail-serial/{{ serial.id }}/"><p>{{ serial.title }}</p></a>
                <h3>{{ serial.image }}</h3>
                <h3>{{ serial.duration }} мин. ({{ serial.age_limit }} +)</h3>

            <br>

            {% endfor %}


        </ul>
    </div>



</body>
</html>